.Input {
    $lineHeight: 1px;
    $self: &;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    &__label {
        font-weight: 600;
        display: block;
        margin-bottom: 8px;
        color: rgb(39, 39, 39);
    }

    &__slot {
        &.-relative {
            position: relative;
        }

        &.-withIcon {
            #{$self}__inputEl {
                padding: 10px 35px;
            }
        }

        &.-focused {
            #{$self}__line {
                &::after {
                    transform: scaleX(1);
                }

            }

            #{$self}__icon {
                color: #6896E0;
            }
        }
    }

    &__icon {
        color: rgb(112, 117, 122);

        &.-insideInput {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            transition: all .3s ease;
        }
    }

    &__inputEl {
        outline: none;
        border: none;
        background-color: #fff;
        font: inherit;
        padding: 10px;
        display: block;
        width: 100%;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }

    }

    &__line {
        background-color: #dadce0;
        width: 100%;
        height: $lineHeight;
        position: absolute;
        bottom: 0;
        transition: all .3s ease;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: calc(#{$lineHeight} * 2);
            background-color: #6896E0;
            transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
            transform: scaleX(0);
        }
    }

    &.-invalid {
        border: 1px solid red;
        background-color: #FDA49A;
    }
}