.NotFound404 {
    min-height: 100vh;
    background-image: url('../../assets/404.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;

    &__link {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        border: 2px solid #000;
        color: #fff;
        background-color: #000;
        border-radius: 5px;
        width: max-content;
        transition: all .3s ease;
        margin: 10px auto;

        &:hover {
            background-color: transparent;
            color: #000;
        }
    }
}